<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muck.mapper.ElectricFenceCarMapper">
	<resultMap id="ElectricFenceCarResultMap" type="com.muck.domain.ElectricFenceCar">
		<result column="id" property="id" typeHandler="com.muck.handler.IdTypeHandler" />
		<result column="car_id" property="carId"
			typeHandler="com.muck.handler.IdTypeHandler" />
		<result column="car_code" property="carCode" jdbcType="VARCHAR" />
		<result column="car_owner_of_vehicle" property="carOwnerOfVehicle"
			jdbcType="VARCHAR" />
		<result column="company_id" property="companyId"
			typeHandler="com.muck.handler.IdTypeHandler" />
		<result column="company_name" property="companyName" jdbcType="VARCHAR" />
		<result column="company_contact" property="companyContact"
			jdbcType="VARCHAR" />
		<result column="electric_fence_id" property="electricFenceId"
			typeHandler="com.muck.handler.IdTypeHandler" />
		<result column="electric_fence_name" property="electricFenceName"
			jdbcType="VARCHAR" />
		<result column="electric_fence_coordinate" property="electricFenceCoordinate"
			jdbcType="VARCHAR" />
		<result column="electric_fence_isbanning" property="electricFenceIsbanning"
			jdbcType="TINYINT" />
		<result column="deleted" property="deleted" jdbcType="TINYINT" />
		<result column="operator_id" property="operatorId" jdbcType="VARCHAR" />
		<result column="operator_name" property="operatorName"
			jdbcType="VARCHAR" />
		<result column="operator_phone" property="operatorPhone"
			jdbcType="VARCHAR" />
		<result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
		<result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, car_id, car_code, car_owner_of_vehicle, company_id,
		company_name, company_contact, electric_fence_id,
		electric_fence_name,
		electric_fence_coordinate, electric_fence_isbanning, deleted,
		operator_id, operator_name, operator_phone,
		created_time, updated_time,
		memo
	</sql>

	<!-- 根据id查询电子围栏车辆信息 -->
	<select id="selectById" resultMap="ElectricFenceCarResultMap"
		parameterType="string">
		select
		<include refid="Base_Column_List" />
		from t_electric_fence_car
		where id =
		#{id,typeHandler=com.muck.handler.IdTypeHandler}
		and deleted = 1
	</select>



	<!-- 根据电子围栏查询电子围栏车辆信息 -->
	<select id="queryElectricFenceCarsByElectricFenceId" resultMap="ElectricFenceCarResultMap"
		parameterType="string">
		select
		<include refid="Base_Column_List" />
		from t_electric_fence_car
		where electric_fence_id =
		#{electricFenceId,typeHandler=com.muck.handler.IdTypeHandler}
		and
		deleted = 1
	</select>

	<!-- 根据车牌号查询电子围栏车辆信息 -->
	<select id="queryByCarCode" resultMap="ElectricFenceCarResultMap"
		parameterType="string">
		select
		<include refid="Base_Column_List" />
		from t_electric_fence_car
		where car_code = #{carCode,jdbcType=VARCHAR}
		and deleted = 1
	</select>


	<!-- 添加电子围栏车辆信息 -->
	<insert id="insert" parameterType="com.muck.domain.ElectricFenceCar">
		<selectKey resultType="long" keyProperty="idRaw">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into t_electric_fence_car
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="carId != null">
				car_id,
			</if>
			<if test="carOwnerOfVehicle != null">
				car_owner_of_vehicle,
			</if>
			<if test="carCode != null">
				car_code,
			</if>
			<if test="companyId != null">
				company_id,
			</if>
			<if test="companyName != null">
				company_name,
			</if>
			<if test="companyContact != null">
				company_contact,
			</if>
			<if test="electricFenceId != null">
				electric_fence_id,
			</if>
			<if test="electricFenceName != null">
				electric_fence_name,
			</if>
			<if test="electricFenceCoordinate != null">
				electric_fence_coordinate,
			</if>
			<if test="electricFenceIsbanning != null">
				electric_fence_isbanning,
			</if>
			<if test="deleted != null">
				deleted,
			</if>
			<if test="operatorId != null">
				operator_id,
			</if>
			<if test="operatorName != null">
				operator_name,
			</if>
			<if test="operatorPhone != null">
				operator_phone,
			</if>
			<if test="createdTime != null">
				created_time,
			</if>
			<if test="updatedTime != null">
				updated_time,
			</if>
			<if test="memo != null">
				memo,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,typeHandler=com.muck.handler.IdTypeHandler},
			</if>
			<if test="carId != null">
				#{carId,typeHandler=com.muck.handler.IdTypeHandler},
			</if>
			<if test="carOwnerOfVehicle != null">
				#{carOwnerOfVehicle,jdbcType=VARCHAR},
			</if>
			<if test="carCode != null">
				#{carCode,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				#{companyId,typeHandler=com.muck.handler.IdTypeHandler},
			</if>
			<if test="companyName != null">
				#{companyName,jdbcType=VARCHAR},
			</if>
			<if test="companyContact != null">
				#{companyContact,jdbcType=VARCHAR},
			</if>
			<if test="electricFenceId != null">
				#{electricFenceId,typeHandler=com.muck.handler.IdTypeHandler},
			</if>
			<if test="electricFenceName != null">
				#{electricFenceName,jdbcType=VARCHAR},
			</if>
			<if test="electricFenceCoordinate != null">
				#{electricFenceCoordinate,jdbcType=VARCHAR},
			</if>
			<if test="electricFenceIsbanning != null">
				#{electricFenceIsbanning,jdbcType=TINYINT},
			</if>
			<if test="deleted != null">
				#{deleted,jdbcType=TINYINT},
			</if>
			<if test="operatorId != null">
				#{operatorId,jdbcType=BIGINT},
			</if>
			<if test="operatorName != null">
				#{operatorName,jdbcType=VARCHAR},
			</if>
			<if test="operatorPhone != null">
				#{operatorPhone,jdbcType=VARCHAR},
			</if>
			<if test="createdTime != null">
				#{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedTime != null">
				#{updatedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 批量插入 -->
	<insert id="insertAll" parameterType="java.util.List">
		insert into t_electric_fence_car
		(
		id,
		car_id,
		car_owner_of_vehicle,
		car_code,
		company_id,
		company_name,
		company_contact,
		electric_fence_id,
		electric_fence_name,
		electric_fence_coordinate,
		electric_fence_isbanning,
		deleted,
		operator_id,
		operator_name,
		operator_phone,
		created_time,
		updated_time,
		memo
		)
		values
		<!--item就是List里每一项的对象名，要用","分割每一条数据，最后要";"结尾 -->
		<foreach collection="list" item="item" index="index"
			separator="," close=";">
			(
			#{item.id,typeHandler=com.muck.handler.IdTypeHandler},
			#{item.carId,typeHandler=com.muck.handler.IdTypeHandler},
			#{item.carOwnerOfVehicle,jdbcType=VARCHAR},
			#{item.carCode,jdbcType=VARCHAR},
			#{item.companyId,typeHandler=com.muck.handler.IdTypeHandler},
			#{item.companyName,jdbcType=VARCHAR},
			#{item.companyContact,jdbcType=VARCHAR},
			#{item.electricFenceId,typeHandler=com.muck.handler.IdTypeHandler},
			#{item.electricFenceName,jdbcType=VARCHAR},
			#{item.electricFenceCoordinate,jdbcType=VARCHAR},
			#{item.electricFenceIsbanning,jdbcType=TINYINT},
			#{item.deleted,jdbcType=TINYINT},
			#{item.operatorId,jdbcType=BIGINT},
			#{item.operatorName,jdbcType=VARCHAR},
			#{item.operatorPhone,jdbcType=VARCHAR},
			#{item.createdTime,jdbcType=TIMESTAMP},
			#{item.updatedTime,jdbcType=TIMESTAMP},
			#{item.memo,jdbcType=VARCHAR}
			)
		</foreach>
	</insert>

	<!-- 根据id删除一条记录（逻辑删除） -->
	<update id="deleteById" parameterType="string">
		update t_electric_fence_car
		set deleted = 0
		where id = #{id,typeHandler=com.muck.handler.IdTypeHandler}
	</update>

	<!-- 根据id删除一条记录（真实删除） -->
	<delete id="deleteByIdReal" parameterType="string">
		delete from t_electric_fence_car
		where id = #{id,typeHandler=com.muck.handler.IdTypeHandler}
	</delete>

	<!-- 根据id修改电子围栏车辆信息 -->
	<update id="updateById" parameterType="com.muck.domain.ElectricFenceCar">
		update t_electric_fence_car
		<set>
			<if test="id != null">
				id = #{id,typeHandler=com.muck.handler.IdTypeHandler},
			</if>
			<if test="carId != null">
				car_id =
				#{carId,typeHandler=com.muck.handler.IdTypeHandler},
			</if>
			<if test="carCode != null">
				car_code = #{carCode,jdbcType=VARCHAR},
			</if>
			<if test="carOwnerOfVehicle != null">
				car_owner_of_vehicle =
				#{carOwnerOfVehicle,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				company_id =
				#{companyId,typeHandler=com.muck.handler.IdTypeHandler},
			</if>
			<if test="companyName != null">
				company_name = #{companyName,jdbcType=VARCHAR},
			</if>
			<if test="companyContact != null">
				company_contact = #{companyContact,jdbcType=VARCHAR},
			</if>
			<if test="electricFenceId != null">
				electric_fence_id =
				#{electricFenceId,typeHandler=com.muck.handler.IdTypeHandler},
			</if>
			<if test="electricFenceName != null">
				electric_fence_name =
				#{electricFenceName,jdbcType=VARCHAR},
			</if>
			<if test="electricFenceCoordinate != null">
				electric_fence_coordinate =
				#{electricFenceCoordinate,jdbcType=VARCHAR},
			</if>
			<if test="electricFenceIsbanning != null">
				electric_fence_isbanning =
				#{electricFenceIsbanning,jdbcType=TINYINT},
			</if>
			<if test="deleted != null">
				deleted = #{deleted,jdbcType=TINYINT},
			</if>
			<if test="operatorId != null">
				operator_id = #{operatorId,jdbcType=BIGINT},
			</if>
			<if test="operatorName != null">
				operator_name = #{operatorName,jdbcType=VARCHAR},
			</if>
			<if test="createdTime != null">
				created_time = #{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createdPhone != null">
				created_phone = #{createdPhone,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedTime != null">
				updated_time = #{updatedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="memo != null">
				memo = #{memo,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,typeHandler=com.muck.handler.IdTypeHandler}
	</update>

	<!-- 查询分页数据 -->
	<select id="selectPageData" parameterType="string"
		resultMap="ElectricFenceCarResultMap">
		${sql}
	</select>

	<!-- 查询总记录数 -->
	<select id="selectTotalRecoreds" parameterType="string"
		resultType="long">
		${sql}
	</select>
	<!-- 查询数据列表 -->
	<select id="queryData" parameterType="string" resultMap="ElectricFenceCarResultMap">
		${sql}
	</select>
	<!-- 根据条件删除 -->
	<select id="deleteData" parameterType="string" >
		${sql}
	</select>

	
	<resultMap id="ElectricFenceCarSimpleResultMap" type="com.muck.domain.ElectricFenceCar">
		<result column="id" property="id" typeHandler="com.muck.handler.IdTypeHandler" />
		<result column="car_code" property="carCode" jdbcType="VARCHAR" />
		<result column="electric_fence_coordinate" property="electricFenceCoordinate"
			jdbcType="VARCHAR" />
	</resultMap>
	
	
	<select id="queryElectricFenceCarSimpleByCarCodes" parameterType="string" resultMap="ElectricFenceCarSimpleResultMap">
	    select id,car_code,electric_fence_coordinate from t_electric_fence_car
	    where
	    car_code in (${carCodes})
	</select>
	
	<select id="queryElectricFenceCarByCarCode" parameterType="string" resultType="map">
	    select 
	    	id,
	    	car_code carCode,
	    	electric_fence_coordinate electricFenceCoordinate,
	    	electric_fence_name electricFenceName
	    from t_electric_fence_car
	    where
	    	car_code = #{carCode,jdbcType=VARCHAR} and
	    	deleted = 1
	</select>

</mapper>