<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muck.mapper.ExcelOutputLogMapper">
	<resultMap id="ExcelOutputLogResultMap" type="com.muck.domain.ExcelOutputLog" >
	<id column="id" property="id" typeHandler="com.muck.handler.IdTypeHandler" />
		<result column="output_excel_name" property="outputExcelName" jdbcType="VARCHAR" />
		<result column="output_excel_path" property="outputExcelPath" jdbcType="VARCHAR" />
		<result column="deleted" property="deleted" jdbcType="TINYINT" />
		<result column="operator_id" property="operatorId" jdbcType="BIGINT" />
		<result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
		<result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
		<result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 添加导出Excel表格操作日志记录	 -->
	<insert id="insert" parameterType="com.muck.domain.ExcelOutputLog" >
         insert into t_excel_output_log
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        id,
	      </if>
	      <if test="outputExcelName != null" >
	        output_excel_name,
	      </if>
	      <if test="outputExcelPath != null" >
	        output_excel_path,
	      </if>
	      <if test="deleted != null" >
	        deleted,
	      </if>
	      <if test="operatorId != null" >
	        operator_id,
	      </if>
	      <if test="operatorName != null" >
	        operator_name,
	      </if>
	      <if test="createdTime != null" >
	        created_time,
	      </if>
	      <if test="updatedTime != null" >
	        updated_time,
	      </if>
	      <if test="memo != null" >
	        memo,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        #{id,jdbcType=BIGINT},
	      </if>
	      <if test="outputExcelName != null" >
	        #{outputExcelName,jdbcType=VARCHAR},
	      </if>
	      <if test="outputExcelPath != null" >
	        #{outputExcelPath,jdbcType=VARCHAR},
	      </if>
	      <if test="deleted != null" >
	        #{deleted,jdbcType=TINYINT},
	      </if>
	      <if test="operatorId != null" >
	        #{operatorId,jdbcType=BIGINT},
	      </if>
	      <if test="operatorName != null" >
	        #{operatorName,jdbcType=VARCHAR},
	      </if>
	      <if test="createdTime != null" >
	        #{createdTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="updatedTime != null" >
	        #{updatedTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="memo != null" >
	        #{memo,jdbcType=VARCHAR},
	      </if>
		</trim>
	</insert>
	
	<!-- 根据id修改导出表格数据记录信息 -->
	<update id="update" parameterType="com.muck.domain.ExcelOutputLog" >
	    update t_excel_output_log
	    <set >
	      <if test="outputExcelName != null" >
	        output_excel_name = #{outputExcelName,jdbcType=VARCHAR},
	      </if>
	      <if test="outputExcelPath != null" >
	        output_excel_path = #{outputExcelPath,jdbcType=VARCHAR},
	      </if>
	      <if test="deleted != null" >
	        deleted = #{deleted,jdbcType=TINYINT},
	      </if>
	      <if test="operatorId != null" >
	        operator_id = #{operatorId,jdbcType=BIGINT},
	      </if>
	      <if test="operatorName != null" >
	        operator_name = #{operatorName,jdbcType=VARCHAR},
	      </if>
	      <if test="createdTime != null" >
	        created_time = #{createdTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="updatedTime != null" >
	        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="memo != null" >
	        memo = #{memo,jdbcType=VARCHAR},
	      </if>
	    </set>
		where id = #{id,typeHandler=com.muck.handler.IdTypeHandler}
	</update>
	
	<!-- 根据id删除（真实删除） -->
	<delete id = "deleteByIdReal" parameterType="long">
		delete from
			t_excel_output_log
		where
			id = #{id,typeHandler=com.muck.handler.IdTypeHandler}
	</delete>
	
	<!-- 查询数据列表 -->
	<select id="queryData" parameterType="string" resultMap="ExcelOutputLogResultMap">
		${sql}
	</select>
	
	<!-- 查询分页数据 -->
	<select id="selectPageData" parameterType="string" resultMap="ExcelOutputLogResultMap">
		${sql}
	</select>
	
	<!-- 查询总记录数 -->
	<select id="selectTotalRecoreds" parameterType="string" resultType="long">
		${sql}
	</select>
</mapper>