<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muck.mapper.ImageMapper">

	<!-- 映射关系 -->
	<resultMap id="ImageResultMap" type="com.muck.domain.Image">
		<id column="id" property="id" typeHandler="com.muck.handler.IdTypeHandler"/>
		<result column="deleted" property="deleted" jdbcType="TINYINT" />
		<result column="image_path" property="imagePath" jdbcType="VARCHAR" />
		<result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, deleted, image_path, created_time, memo
	</sql>
	
	<!-- 添加图片	 -->
	<insert id="insert" parameterType="com.muck.domain.Image">
		<selectKey resultType="long" keyProperty="idRaw">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_image
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="deleted != null">
				deleted,
			</if>
			<if test="imagePath != null">
				image_path,
			</if>
			<if test="createdTime != null">
				created_time,
			</if>
			<if test="memo != null">
				memo,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,typeHandler=com.muck.handler.IdTypeHandler},
			</if>
			<if test="deleted != null">
				#{deleted,jdbcType=TINYINT},
			</if>
			<if test="imagePath != null">
				#{imagePath,jdbcType=VARCHAR},
			</if>
			<if test="createdTime != null">
				#{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>