<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muck.mapper.PrivilegeGroupPrivilegeMapper">
	<!-- 批量添加数据 -->
	<insert id="insertBatch">
		insert into
		t_privilegegroup_privilege(privilege_group_id,privilege_id)
		values
		<foreach collection="privilegeIds" item="pId" separator=",">
			(#{privilegeGroupId,typeHandler=com.muck.handler.IdTypeHandler},
			#{pId,typeHandler=com.muck.handler.IdTypeHandler}
			)
		</foreach>
	</insert>
	<!-- 根据根据权限组id清空权限 -->
	<update id="deleteByPrivilegeGroupId" parameterType="long">
	delete from t_privilegegroup_privilege
	where privilege_group_id=#{privilegeGroupId,typeHandler=com.muck.handler.IdTypeHandler}
	</update>
</mapper>